:root {
    --font-size: 2em;
    --font-regular: 400;
    --font-bold: 700;
    --font-family: 'Karla', sans-serif;;
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: var(--font-bold);
    line-height: calc(var(--font-size) * 0.4);
    margin: 1rem 0;
    padding: 0;
}

p {
    font-weight: var(--font-regular);
    line-height: calc(var(--font-size) * 0.8);
    margin: 1rem 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

input, textarea, button, select {
    font: inherit;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
    height: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }